* {
  font-family: sans-serif;
}

body {
  background-image: url("../img/chef.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center;
}

.btn-warning {
  --bs-btn-color: #fff;
  --bs-btn-bg: #ffc107;
  --bs-btn-border-color: #ffc107;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #ffca2c;
  --bs-btn-hover-border-color: #ffc720;
  --bs-btn-focus-shadow-rgb: 217, 164, 6;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #ffcd39;
  --bs-btn-active-border-color: #ffc720;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #ffc107;
  --bs-btn-disabled-border-color: #ffc107;
}

.ds {
  background: rgba(0, 0, 0, 0.4);
}

.card {
  background: none;
}

.has {
  margin-top: 10rem;
}

.imgs {
  width: 50%;
}

.navbar-toggler {
  border: none;
  border-radius: none;
}

.navbar-toggler:focus {
  box-shadow: none;
}

// detail-category //////////////////////////////////////////////////////////////////////////////
.overlay-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

.card-contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 20px;
  text-align: right;
}

.breadcrumb-item a {
  color: #919191;
}

.breadcrumb-item.active {
  color: #919191;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #919191;
  content: "/";
  padding: 0 0.5rem;
}

a:link {
  text-decoration: none;
}

// meal-detail //////////////////////////////////////////////////////////////////////////////
.cod {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.cl {
  color: white;
}

.tem {
  width: 100%;
  height: 40rem;
}

// responsive //////////////////////////////////////////////////////////////////////////////
@media only screen and (max-width: 991px) {
  .has {
    margin-top: 6rem;
  }

  .tem {
    width: 100%;
    height: 20rem;
  }
}
